starepandas/_version.py export-subst
*.nc filter=lfs diff=lfs merge=lfs -text
*.hdf filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.TIF filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
tests/ne_110m_admin_0_countries.zip filter=lfs diff=lfs merge=lfs -text

