sphinx
myst_parser
sphinx-automodapi
numpydoc
nbsphinx
sphinx-markdown-tables
pydata-sphinx-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
pystare
git+git://github.com/SpatioTemporal/STAREPandas@master --no-binary=STAREPandas
